
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 55px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
    z-index: 100;
}

.left-section-header{
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-left: 15px;
}

.hamburger-menu{
    height: 25px;
}

.youtube-logo{
    height: 23px;
}

.search-bar{
    height: 36px;
    display: flex;
    flex: 1;
    font-size: 16px;
    width: 0;
    max-width: 350px;
    padding-left: 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(193, 193, 193);
    box-shadow: inset 2px 2px 2px rgba(60, 60, 60, 0.1);
}

.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
    font-weight: 300;
    color: gray;
}

.search-button{
    height: 40px;
    width: 60px;
    margin-left: -1px;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(193, 193, 193);
    background-color: rgb(246, 246, 246);
    position: relative;
}

.search-button .tooltip{
    position: absolute;
    background-color: rgb(142, 141, 141);
    color: white;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    bottom: -35px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.search-button:hover .tooltip{
    opacity: 1;
}

.search-icon{
    height: 24px;
    width: 25px;
}

.voice-button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.voice-button .tooltip{
    position: absolute;
    width: 150px;
    bottom: -30px;
    background-color: rgb(142, 141, 141);
    color: white;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.voice-button:hover .tooltip{
    opacity: 1;
}

.voice-icon{
    height: 24px;
    width: 25px;
}

.middle-section-header{
    flex: 1;
    max-width: 500px;
    align-items: center;
    margin-left: 70px;
    margin-right: 35px;
    display: flex;
}

.right-section-header{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 15px;
    flex-shrink: 0;
}

.notification-container{
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.notification-number{
    position: absolute;
    background-color: rgb(196, 41, 41);
    color: white;
    top: 0;
    right: 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    font-family: Roboto, Arial;
    font-size: 9px;
}

.upload-icon{
    height: 25px;
}

.grid-icon{
    height: 25px;
}

.notifications{
    height: 25px;
}

.my-channel{
    height: 30px;
    border-radius: 15px;
    margin-bottom: -2px;
}